data/*
!data/rdata
data/rdata/*
!data/rdata/available_rainfall_data.RData
!data/rdata/ndvi_stations_AVHRR.RData
!data/rdata/ndvi_stations_MODIS.RData
!data/rdata/modis_date.RData

\info
\exports
.Rproj.user
scripts/.Rhistory
.Rhistory
.RData